<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssd.pbl.repository.mapper.BoardMapper">
	<cache />
 	<!-- <select id="selectBoardList" parameterType="int" resultType="Board">
   		SELECT ID AS boardId,
   			   CLASS AS connectionId,
   			   TITLE AS boardForm.title,
   			   TYPE AS boardForm.type,
   			   CONTENT AS boardForm.content,
   			   UPLOAD AS boardForm.upload,
   			   WRITER AS writer,
   			   WRITERTYPE AS writerType,
   			   REGISTEREDAT AS creationDate
		FROM CLASSROOMBOARD
		WHERE CLASS = #{connetionId}
		ORDER BY REGISTEREDAT DESC
	</select> -->
	<select id="selectBoardList"  resultType="Board">
   		SELECT ID AS boardId,
   			   CLASS AS connectionId,
   			   TITLE AS "boardForm.title",
   			   TYPE AS "boardForm.type",
   			   CONTENT AS "boardForm.content",
   			   UPLOAD AS "boardForm.upload",
   			   WRITER AS writer,
   			   WRITERTYPE AS writerType,
   			   REGISTEREDAT AS creationDate
		FROM CLASSROOMBOARD
		ORDER BY REGISTEREDAT DESC
	</select>
 	
 	<select id="selectBoardById" parameterType="int" resultType="Board">
 		SELECT ID AS boardId,
   			   CLASS AS connectionId,
   			   TITLE AS "boardForm.title",
   			   TYPE AS "boardForm.type",
   			   CONTENT AS "boardForm.content",
   			   UPLOAD AS "boardForm.upload",
   			   WRITER AS writer,
   			   WRITERTYPE AS writerType,
   			   REGISTEREDAT AS creationDate
		FROM CLASSROOMBOARD 
		WHERE ID = #{boradId}
 	</select>
 	
 	<insert id="insertBoard" parameterType="Board">
 		INSERT INTO CLASSROOMBOARD(CLASS, TITLE, TYPE, CONTENT, UPLOAD, WRITER, WRITERTYPE, REGISTEREDAT, UPDATEDAT)
		VALUES (
			#{connectionId}
			, #{boardForm.title}
			, #{boardForm.type}
			, #{boardForm.content}
			, #{boardForm.upload, javaType=String, jdbcType=VARCHAR}
			, #{writerId}
			, #{writerType}
			, SYSDATE
			, SYSDATE
		)
 	</insert>
 	
 	<update id="updateBoard" parameterType="Board">
 		UPDATE CLASSROOMBOARD SET TITLE = #{boardForm.title},  CONTENT = #{boardForm.content}, UPLOAD = #{boardForm.upload} 
		WHERE ID = #{boardId}
 	</update>
 	
 	<delete id="deleteBoard" parameterType="int">
 		DELETE FROM CLASSROOMBOARD 
		WHERE ID = #{boardId}
 	</delete>
 
</mapper>