<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssd.pbl.repository.mapper.ClassMapper">
	<cache />
	<select id="selectAutoMatchClass" resultType="ClassCard">
		SELECT tc.id classId, tc.teacher "teacher.id", tch.name "teacher.name", tch.rank "teacher.rank", tch.rate "teacher.rate", 
		tch.phone "teacher.phone", ti.teachergender "teacherInfo.teacherGender", ti.entranceyear "teacherInfo.entranceYear", 
		ti.status "teacherInfo.status", ti.profileimg "teacherInfo.profileImg",
		m.name "teacherInfo.major.name", m.id "teacherInfo.major.id", u.id "teacherInfo.university.id", u.name "teacherInfo.university.name",
		s.id "subject.id", s.name "subject.name"
		FROM TEACHERCLASS tc
		INNER JOIN TEACHER tch
		ON tc.teacher = tch.id
		INNER JOIN TEACHERINFO ti
		ON ti.teacher = tch.id
		INNER JOIN SUBJECT s
		ON s.id = tc.subject
		INNER JOIN Major m
		ON ti.major = m.id
		INNER JOIN University u
		ON m.university = u.id
	</select>

</mapper>