<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssd.pbl.repository.mapper.FeedbackMapper">
	<cache />
	<select id="selectClassFeedBackByTeacherId"
		resultType="ClassFeedback">
		SELECT cf.id, cf.connection connectionId, cf.rate,
		cf.content, cf.registeredat registeredAt, cf.updatedat updatedAt,
		s.name "subjectName"
		FROM connection c
		JOIN teacher t
		ON t.id = 4 AND c.teacher = t.id
		LEFT JOIN classFeedback cf
		ON c.id = cf.connection
		JOIN subject s
		ON s.id = c.subject
	</select>

</mapper>