<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssd.pbl.repository.mapper.CommentMapper">
	<cache />
	<select id="selectAllReplyByBoardId" resultType="Reply">
		
	</select>

 	<insert id="insertComment" >
 		INSERT INTO COMMENT VALUES (?, ?, ?, ?, ?, ?, NULL);
 	</insert>
 	
 	<update id="updateReply">
 	
 	</update>
 	
 	<delete id="deleteReply">
 	
 	</delete>
 
</mapper>