<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssd.pbl.repository.mapper.StudentMapper">

	<insert id="insertStudentMatch" parameterType="studentMatchForm">
		INSERT INTO
		studentMatch (ability, teacherGender, grade, memo, registeredAt, updatedAt, testResult)
		VALUES (#{level}, #{gender}, #{memo}, #{toTeacher}, SYSDATE, SYSDATE, #{testResult})
		<selectKey keyProperty="id" resultType="Integer" order="AFTER">
			SELECT STUDENTMATCH_SEQ.currval FROM dual
		</selectKey>
	</insert>

	<insert id="insertStudentRegion">
		INSERT INTO studentRegion (studentMatch, dong) 
		VALUES (#{id}, #{dongId})
	</insert>
	
	<insert id="insertStudentTime">
		INSERT INTO studentTimes (studentMatch, time) 
		VALUES (#{id}, #{time})
	</insert>
	
	<insert id="insertStudentCharacter">
		INSERT INTO studentCharacter (studentMatch, character)
		VALUES (#{id}, #{characterId})
	</insert>
	
	<insert id="insertStudentTestResult">
		INSERT INTO studentTestResult (testPaper, studentMatch, answer, updatedAt) 
		VALUES (#{testId}, #{id}, #{answer}, SYSDATE)
	</insert>
	
	<select id="selectStudent" parameterType="java.lang.String" resultType="LoginForm">
		SELECT STUDENT.EMAIL, STUDENT.PASSWORD 
		FROM STUDENT 
		WHERE STUDENT.EMAIL = #{email}
	</select>
	
	<select id="selectCountStudentEmail" parameterType="string" resultType="int">
		SELECT count(*)
		FROM STUDENT
		WHERE STUDENT.EMAIL = #{email}
	</select>
	
	<select id="selectSchoolListBySchoolName" parameterType="java.lang.String" resultType="SchoolForm">
   		SELECT id
		FROM school
		WHERE name like '%#{school}%'
	</select>
	
	<select id="selectEmailByNameAndPhone" parameterType="FindIDForm" resultType="java.lang.String">
		SELECT STUDENT.EMAIL
		FROM STUDENT
		WHERE STUDENT.NAME = #{name} AND STUDENT.PHONE = #{phone}
	</select>
	
	<select id="selectStudentUserInfo" parameterType="java.lang.String" resultType="ssd.pbl.controller.UserSession">
		SELECT s.email, s.name, i.PROFILEIMG, s.id, s.step
		FROM student s, STUDENTINFO i
		WHERE s.id = i.student AND s.email = #{email}
	</select>
	
</mapper>