<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssd.pbl.repository.mapper.StudentMapper">

	<insert id="insertStudentMatch" parameterType="studentMatchForm">
		INSERT INTO
		studentMatch (ability, teacherGender, grade, memo, registeredAt, updatedAt, testResult)
		VALUES (#{level}, #{gender}, #{memo}, #{toTeacher}, SYSDATE, SYSDATE, #{testResult})
		<selectKey keyProperty="id" resultType="Integer" order="AFTER">
			SELECT STUDENTMATCH_SEQ.currval FROM dual
		</selectKey>
	</insert>

	<insert id="insertStudentRegion">
		INSERT INTO studentRegion (studentMatch, dong) 
		VALUES (#{id}, #{dongId})
	</insert>
	
	<insert id="insertStudentTime">
		INSERT INTO studentTimes (studentMatch, time) 
		VALUES (#{id}, #{time})
	</insert>
	
	<insert id="insertStudentCharacter">
		INSERT INTO studentCharacter (studentMatch, character)
		VALUES (#{id}, #{characterId})
	</insert>
	
	<insert id="insertStudentTestResult">
		INSERT INTO studentTestResult (testPaper, studentMatch, answer, updatedAt) 
		VALUES (#{testId}, #{id}, #{answer}, SYSDATE)
	</insert>
	
	<select id="selectStudent" parameterType="java.lang.String" resultType="LoginForm">
		SELECT STUDENT.EMAIL, STUDENT.PASSWORD 
		FROM STUDENT 
		WHERE STUDENT.EMAIL = #{email}
	</select>
	
	<select id="selectCountStudentEmail" parameterType="String" resultType="int">
		SELECT count(*)
		FROM STUDENT
		WHERE STUDENT.EMAIL = #{email}
	</select>
	
	<insert id="insertStudent" parameterType="StudentForm">
		INSERT INTO STUDENT(EMAIL, PASSWORD, NAME, PHONE, STEP, REGIETEREDAT, UPDATEDAT)
		VALUES(#{email}, #{password}, #{name}, #{phone}, 'REGISTER', SYSDATE, SYSDATE)
	</insert>
	
	<select id="selectStudentId" parameterType="java.lang.String" resultType="int">
		SELECT id
		FROM STUDENT
		WHERE STUDENT.EMAIL = #{email}
	</select>
	
	<insert id="insertStudentInfo" parameterType="StudentForm">
		INSERT INTO STUDENTINFO(STUDENT, STUDENTGENDER, SCHOOL, SCHOOLCATEGORY, SCHOOLTYPE, STATUS, GRADE, PROFILEIMG, UPDATEDAT)
		VALUES(#{id}, #{gender}, #{schoolId}, #{schoolCategory}, #{schoolType}, #{status}, #{grade}, null, SYSDATE)
	</insert>
	
	<select id="selectSchoolListBySchoolName" parameterType="java.lang.String" resultType="ssd.pbl.model.SchoolForm">
   		SELECT *
		FROM school
		WHERE name like '%'||#{school}||'%'
	</select>
	
	<select id="selectSchoolType" parameterType="int" resultType="java.lang.String">
		SELECT TYPE
		FROM SCHOOL
		WHERE ID = #{id}
	</select>
	
	<select id="selectEmailByNameAndPhone" parameterType="FindIDForm" resultType="java.lang.String">
		SELECT STUDENT.EMAIL
		FROM STUDENT
		WHERE STUDENT.NAME = #{name} AND STUDENT.PHONE = #{phone}
	</select>
	
	<select id="selectStudentUserInfo" parameterType="java.lang.String" resultType="ssd.pbl.controller.UserSession">
		SELECT s.email, s.name, i.PROFILEIMG, s.id, s.step
		FROM student s, STUDENTINFO i
		WHERE s.id = i.student AND s.email = #{email}
	</select>
	
	<update id="updateStudentPW" parameterType="ssd.pbl.model.ResetPWForm">
		UPDATE STUDENT
		SET STUDENT.PASSWORD = #{password}
		WHERE EMAIL = #{email}
	</update>
	
	<select id="selectStudentByEmailAndName" parameterType="FindPWForm" resultType="int">
		SELECT STUDENT.ID
		FROM STUDENT
		WHERE STUDENT.EMAIL = #{email} AND STUDENT.NAME = #{name}
	</select>
	
</mapper>