<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssd.pbl.repository.mapper.StudentMapper">
	<cache />

	<insert id="insertStudentMatch" parameterType="studentMatchForm">
		INSERT INTO
		studentMatch (ability, teacherGender, grade, memo, registeredAt, updatedAt, testResult)
		VALUES (#{level}, #{gender}, #{memo}, #{toTeacher}, SYSDATE, SYSDATE, #{testResult})
		<selectKey keyProperty="id" resultType="Integer" order="AFTER">
			SELECT STUDENT_SEQ.currval FROM dual
		</selectKey>
	</insert>

	<insert id="insertStudentRegion">
		INSERT INTO studentRegion (studentMatch, dong) 
		VALUES (#{id}, #{dongId})
	</insert>
	
	<insert id="insertStudentCharacter">
		INSERT INTO studentCharacter (studentMatch, character)
		VALUES (#{id}, #{characterId})
	</insert>
	
	<insert id="insertStudentTestResult">
		INSERT INTO studentTestResult (testPaper, studentMatch, answer, updatedAt) 
		VALUES (#{testId}, #{id}, #{answer}, SYSDATE)
	</insert>
</mapper>