<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssd.pbl.repository.mapper.SubjectMapper">
	<cache />
	
	<insert id="insertSubject">
		INSERT INTO subject (name, category) 
		VALUES (#{name}, #{category})
	</insert>

	<select id="selectAllSubject" resultType="Subject">
		SELECT *
		FROM Subject
	</select>

	<select id="selectTestQuestionBySubjectId" resultType="Subject">
		SELECT *
		FROM subjectTestPaper
		WHERE subject = #{subjectId}
	</select>
</mapper>