<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssd.pbl.repository.mapper.TeacherMapper">

	<select id="selectEmailByNameAndPhone" parameterType="FindIDForm" resultType="java.lang.String">
		SELECT TEACHER.EMAIL
		FROM TEACHER
		WHERE TEACHER.NAME = #{name} AND TEACHER.PHONE = #{phone}
	</select>
	
	<select id="selectTeacherUserInfo" parameterType="java.lang.String" resultType="ssd.pbl.controller.UserSession">
		SELECT t.email, t.name, i.PROFILEIMG, t.id, t.step
		FROM TEACHER t, TEACHERINFO i
		WHERE t.id = i.teacher AND t.email = #{email}
	</select>
	
	<select id="selectTeacher" parameterType="java.lang.String" resultType="LoginForm">
		SELECT TEACHER.EMAIL, TEACHER.PASSWORD 
		FROM TEACHER 
		WHERE TEACHER.EMAIL = #{email}
	</select>
	
	<select id="selectTeacherById" resultType="teacher">
		SELECT id, email, name, phone
		FROM teacher
		WHERE id = #{id} 
	</select>
	
	<select id="selectTeacherMatchIdByTeacherId" resultType="Integer">
		SELECT id
		FROM teacherMatch
		WHERE teacher = #{teacherId}
	</select>
	
	<update id="updateTeacherPW">
		UPDATE TEACHER
		SET TEACHER.PASSWORD = #{password}
		WHERE EMAIL = #{email}
	</update>
	
	<select id="selectTeacherByEmailAndName" parameterType="FindPWForm" resultType="int">
		SELECT TEACHER.ID
		FROM TEACHER
		WHERE TEACHER.EMAIL = #{email} AND TEACHER.NAME = #{name}
	</select>
	
	<insert id="insertTeacher" parameterType="TeacherForm">
		INSERT INTO TEACHER(EMAIL, PASSWORD, NAME, PHONE, RANK, RATE, STEP, REGIETEREDAT, UPDATEDAT)
		VALUES (#{email}, #{password}, #{name}, #{phone}, 'C', 0.0, 'GUEST', SYSDATE, SYSDATE)
	</insert>
	
	<insert id="insertTeacherInfo" parameterType="TeacherForm">
		INSERT INTO TEACHERINFO (TEACHER, TEACHERGENDER, UNIVERSITY, MAJOR, STATUS, ENTRANCEYEAR, UNIVCERTIMG, PROFILEIMG, UPDATEDAT)
		VALUES (#{id}, #{gender}, #{universityId}, #{majorId}, #{status}, #{enteranceYear}, 'img', 'image', SYSDATE)
	</insert>
	
	<select id="selectCountTeacherEmail" parameterType="String" resultType="int">
		SELECT count(*)
		FROM TEACHER
		WHERE TEACHER.EMAIL = #{email}
	</select>
	
	<select id="selectTeacherId" parameterType="java.lang.String" resultType="int">
		SELECT id
		FROM TEACHER
		WHERE TEACHER.EMAIL = #{email}
	</select>
	
	<select id="selectUniversity" parameterType="java.lang.String" resultType="University">
		SELECT *
		FROM university
		WHERE name like '%'||#{university}||'%'
	</select>
	
	<select id="selectMajor" parameterType="int" resultType="Major">
		SELECT *
		FROM major
		WHERE university = #{major}
	</select>
</mapper>